{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "parser": "json",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json",
        "jsxBracketSameLine": false,
        "jsxSingleQuote": true
      }
    }
  ]
}
